/* ----------Index-Page---------- */

#main {
  position: relative;
}

#main img {
  width: 100%;
  height: 500px;
}

#index-main-detail {
  position: absolute;
  top: 0;
  height: 400px;
  width: 100%;
}

nav {
  padding: 7px 0;
}

.nav-link a {
  color: white;
  font-weight: bold;
  margin: 0 10px;
}

#index-search-bar {
  color: white;
  font-weight: 600;
}
.searching {
  color: darkgrey;
  margin-bottom: -10px;
}

.index-search {
  width: 80%;
  height: 35px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  outline: none;
  background-color: #d9d8d7;
}

.index-search-input {
  border: none;
  width: 200px;
  margin-top: 20px;
  height: 35px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: green;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.simple-box-1 {
  height: 180px;
  width: 100%;
  background-color: #f1f1f1;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 50px;
  gap: 20px;
}

.simple-box-1 h1 {
  font-weight: bold;
}

.simple-box-2 {
  height: 180px;
  width: 100%;
  background-color: #f1f1f1;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 50px;
  gap: 20px;
}

.simple-box-2 h1 {
  font-weight: bold;
}

.simple-box-3 {
  height: 180px;
  width: 100%;
  background-color: #f1f1f1;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 50px;
  gap: 20px;
}

.simple-box-3 h1 {
  font-weight: bold;
}

.index-category {
  height: 250px;
  width: 100%;
  border-radius: 20px;
  position: relative;
}

.index-category img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.index-category-detail {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  border-radius: 20px;
}

.index-category h2 {
  text-align: center;
  color: aliceblue;
  padding-top: 100px;
}

.index-product-list {
  height: 550px;
  width: 100%;
  margin-bottom: 15px;
  background-color: #d9d8d7;
  border-radius: 20px;
}

.index-product-list img {
  width: 100%;
  height: 60%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.index-product-list details {
  text-align: center;
}

.index-product-details span {
  margin-top: 10px;
  padding: 5px 10px;
}

.index-product-button-link {
  background-color: green;
  color: white;
  margin-top: 50px;
  margin-left: -10px;
  width: 100%;
  padding: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
}

/* ----------Product-List---------- */

.shadow {
  box-shadow: 1px 1px 2px 3px #d1deea;
}

.product-list-filter-form-detail {
  border-radius: 25px;
  padding: 10px 0 30px 30px;
  margin-top: 30px;
  width: 85%;
}

.product-list-content {
  height: 435px;
  width: 100%;
  margin-bottom: 15px;
  background-color: #d9d8d7;
  border-radius: 20px;
}

.product-list-content img {
  width: 100%;
  height: 55%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.product-list-details {
  text-align: center;
}

.product-list-content span {
  padding: 5px 10px;
  font-size: 13px;
  font-weight: bold;
}

.product-list-button-link {
  background-color: green;
  color: white;
  width: 100%;
  margin-left: -10px;
  margin-top: -10px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 15px;
}

/* ----------Seller-Page---------- */

#seller-title {
  margin-top: 50px;
}

#seller-title img {
  border-radius: 30px;
}

#seller-page-menu-img img {
  width: 95%;
  border-radius: 10px;
}

.seller-title-detail {
  float: left;
}

.seller-info {
  margin-left: 30px;
  padding-top: 20px;
}

.seller-page-product-list {
  margin-bottom: 20px;
}

#seller-page-addtocart {
  background-color: #00aa13;
  cursor: pointer;
  border: none;
  color: white;
  padding: 10px 380px;
  text-align: center;
  border-radius: 12px;
  margin-bottom: 10px;
}

#seller-page-addtofavorite {
  cursor: pointer;
  background-color: #ff5600;
  border: none;
  color: white;
  padding: 10px 50px;
  text-align: center;
  border-radius: 12px;
}

/* ----------Dashboard---------- */
#dasboard-nav {
  margin-top: -160px;
  background-color: #f1f1f1;
  margin-left: -80px;
  padding: 50px;
  margin-bottom: 1px;
}
#dasboard-nav a {
  margin-top: 20px;
  color: black;
  font-size: 20px;
}
.bag a {
  margin-top: 50px;
}
#dasboard-nav .bag {
  margin-top: 30px;
}
#dasboard-nav .bag a:hover {
  color: #00aa13;
}
.tok {
  margin-left: 10px;
  color: #00aa13;
  margin-top: -70px;
  font-size: 29px;
  padding-bottom: 50px;
}
#dasboard-nav .big {
  padding-top: 20px;
}
#dasboard-nav .big a:hover {
  color: #00aa13;
}
#dashboard-seller-info {
  display: grid;
  grid-template-columns: 30% 70%;
  column-gap: 0px;
  row-gap: 0px;
}

#dashboard-main {
  margin-top: 80px;
}

#dashboard-content {
  padding-top: 10px;
  padding-left: 15px;
}

#dashboard-cardinfo {
  text-align: center;
}
.dashboard-seller-wrap img {
  border-radius: 20px;
}
.dashboard-seller-wrap h3 {
  font-weight: 400;
}
.three-col-wrapper h2 {
  font-weight: 400;
  font-size: 20px;
}

.dashboard-card-info {
  border: 1px solid grey;
  border-radius: 25px;
  padding-top: 25px;
  margin: 20px 0;
}

.dashboard-allmenu-action-button {
  padding: 8px 22px;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: bolder;
}
#dashboard-allmenu h2 {
  font-weight: 500;
}
#dashboard-allmenu .fw {
  font-weight: 500;
  padding-top: 30px;
  padding-bottom: 50px;
}
#dashboard-allmenu .fg {
  padding-top: 10px;
  padding-bottom: 10px;
}
.dashboard-seller-wrap .ff {
  padding-bottom: 20px;
}

.dasboard-filter-form {
  border-radius: 10px;
  width: 340px;
  border: 1px solid #878787;
  margin-top: 10px;
  outline: none;
  height: 25px;
  font-size: 15px;
  padding-left: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: center;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #d6eeee;
}

/* ----------Order status---------- */
.order-status-card {
  border: 1px solid;
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: 3px 4px #d1deea;
}

.order-status-card-filter-form {
  border-radius: 10px;
  width: 340px;
  height: 25px;
  font-size: 15px;
  padding-left: 5px;
  margin-top: 20px;
}

/* ----------Footer---------- */

#footer {
  width: 100%;
  height: 325px;
  background-color: black;
  margin-top: 90px;
  padding-top: 40px;
  color: white;
}

#footer-detail-info h1 {
  color: green;
  padding-top: 18px;
}

#footer-detail-info svg {
  width: 20px;
  margin-right: 15spx;
}

.button-link-newsletter {
  background-color: green;
  color: white;
  padding: 14px 200px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
}
