:root {
/* 
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Rubik', sans-serif;
}

h1{
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.container {
  width: 88%;
  margin: 0 auto;
}

.two-col-wrapper{
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 10px;
  row-gap: 5px;
}

.three-col-wrapper{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  column-gap: 10px;
  row-gap: 5px;
}

.four-col-wrapper{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  column-gap: 10px;
  row-gap: 5px;
}

.two-col-productlist-wrapper{
  display: grid;
  grid-template-columns: 25% 75%;
  column-gap: 10px;
  row-gap: 5px;
}

.two-col-sellerpage-wrapper{
  display: grid;
  grid-template-columns: 75% 25%;
  column-gap: 10px;
  row-gap: 5px;
}

.clear{
  clear: both;
}
