/* userprofile */
.wrapper {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 990px;
    height: 420px;
    display: flex;
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, .08);
}

.wrapper .left {
    width: 35%;
    /* background: linear-gradient(to right,#01a9ac,#01dbdf); */
    background: white;
    padding: 30px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: #fff;
}

.wrapper .left img {
    border-radius: 5px;
    width: 200px;
    margin-bottom: 10px;
    padding: 10px;
    /* padding-bottom: 90px; */
    border: 1px solid #D9D9D9;
}

.wrapper .left h4 {
    margin-bottom: 10px;
}

.wrapper .left p {
    font-size: 12px;
}

.wrapper .right {
    width: 65%;
    background: #fff;
    padding: 30px 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.wrapper .right .info,
.wrapper .right .projects {
    margin-bottom: 25px;
}

.wrapper .right .info h3,
.wrapper .right .projects h3 {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
    font-bold: 600;
    text-transform: uppercase;
    /* letter-spacing: 5px; */
}

.wrapper .right .info_data,
.wrapper .right .projects_data {
    display: flex;
    justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .projects_data .data {
    width: 55%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .projects_data .data h4 {
    color: #919aa8;
    margin-bottom: 5px;
}

.wrapper .right .info_data .data h5,
.wrapper .right .projects_data .data h5 {
    color: #919aa3;
    margin-bottom: 5px;
}

/* .wrapper .right .info_data .data p,
    .wrapper .right .projects_data .data p{
    font-size: 13px;
    margin-bottom: 10px;
    color: #919aa3;
    } */

.wrapper .social_media ul {
    display: flex;
}

.wrapper .social_media ul li {
    width: 45px;
    height: 45px;
    /* background: linear-gradient(to right,#01a9ac,#01dbdf); */
    margin-right: 10px;
    border-radius: 5px;
    text-align: center;
    line-height: 45px;
}

.wrapper .social_media ul li a {
    color: #fff;
    display: block;
    font-size: 18px;
}

span {
    padding-left: 10px;
    color: #00AA13;
    cursor: pointer;
}

.ubah {
    cursor: pointer;
    padding: 8px;
    width: 180px;
    border: 1px solid #D9D9D9;
    background-color: white;
    border-radius: 3px;
}

.file {
    color: black;
    padding: 5px;
}

.ubah2 {
    cursor: pointer;
    padding: 8px;
    width: 180px;
    border: 1px solid #D9D9D9;
    background-color: white;
    border-radius: 3px;
    margin-top: 10px;
    color: white;
    background-color: #00AA13;
}

/* Cart */

.cart {
    display: flex;
}

.products {
    flex: 0.75;
}

.product {
    display: flex;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border: 1px solid silver;
    ;
    margin-bottom: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.product:hover {
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
}

.product>img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-bottom-right-radius: 10px;
}

.product>img:hover {
    transform: scale(1.04);
}

.product-info {
    padding: 20px;
    width: 100%;
    position: relative;
}

.product-name,
.product-price,
.product-offer {
    margin-bottom: 20px;
    right: 20px;
    padding: 1px 1px;

}

.product-info .khas {
    margin-top: -10px;
    margin-bottom: 10px;
}

.product-remove:hover {
    background-color: white;
    color: green;
    font-weight: 600;
    border: 1px solid green;
}

.product-quantity>input {
    width: 40px;
    padding: 5px;
    text-align: center;
}

.cart-total {
    flex: 0.25;
    margin-left: 20px;
    padding: 20px;
    height: 240px;
    border: 1px solid silver;
    border-radius: 5px;
}

.cart-total p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 15px;
}

.cart-total a {
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    background-color: #00AA13;
    ;
    color: white;
    text-decoration: none;
}

.cart-total a:hover {
    background-color: green;
}

.cart-total .bayar {
    font-bold: 600;
    padding-bottom: 10px;
}

/* contact */

.kita {
    text-align: center;
}

.jelajah {
    width: 218px;
    height: 44px;
    border-radius: 100px;
    background: #00AA13;
    border: none;
    color: white;
}

.search-header button {
    height: 35px;
    width: 50px;
    border-radius: 2px;
    border: none;
    background-color: var(--main-color);
    color: #fff;
}

section {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 70%;
    max-width: 550px;
    margin: auto;
    margin-top: 2em;
}

.sectionHeader {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--primaryColor);
    margin-bottom: .5em;
}

.heading,
.sub-heading {
    margin-bottom: .5em;
    font-weight: bold;
}

.heading {
    font-size: 2.5em;
}

.sub-heading {
    text-align: left;
}

.contactForm {
    display: grid;
    gap: 3em;
}

form {
    width: 100%;
    margin-top: 3em;
}

.para {
    color: var(--paraColor);
    font-size: 1.1rem;
    line-height: 1.5em;
    margin-bottom: 1em;
}

.para2 {
    text-align: left;
}

.input {
    width: 95%;
    max-width: 700px;
    border: none;
    font-size: .9rem;
    padding: 1em;
    outline: none;
    background-color: #F1F1F1;
    color: #000;
    border-radius: 10px;
    margin-bottom: 1em;

}

.input:focus {
    border: 1px solid var(--primaryColor);
}

.input::placeholder {
    text-transform: capitalize;
}

.submit {
    border-radius: 100px;
    background: #00AA13;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 218px;
    height: 44px;
}

.items img {
    width: 50px;
    padding: 10px;
}

.map-container {
    position: relative;
    width: 390px;
    height: 360px;
}

.mapBg {
    position: absolute;
    background-color: var(--primaryColor);
    top: 0;
    right: 0;
    width: 200px;
    height: 90%;
    border-radius: 20px;
}

.map {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 90%;
}

.map iframe {
    width: 100%;
    height: 100%;
}

.contactMethod {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    text-align: left;
}

.method {
    display: flex;
    align-items: center;
}

.contactIcon {
    font-size: 2rem;
    color: var(--primaryColor);
    width: 70px;
}
/* Favorite */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    margin-left: 50px;
    margin-right: 50px;
}

header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    margin-left: 50px;
    margin-right: 50px;
}
.logo a {
    color: #00AA13;
    font-size: 30px;
    font-weight: 600;
}

.navbar-header {
    font-size: 20px;
}
.navbar-header a {
    color: var(--third-color);
    padding: 20px;
}
.search-header input {
    width: 300px;
    height: 35px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-bottom: 30px;
}
.kita{
    text-align: center;
}
.jelajah{
    width: 218px;
    height: 44px;
    border-radius: 100px;
    background: #00AA13;
    border: none;
    color: white;
}

.search-header button {
    height: 35px;
    width: 50px;
    border-radius: 2px;
    border: none;
    background-color: var(--main-color);
    color: #fff;
}
section{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
    max-width: 550px;
    margin: auto;
    margin-top: 2em;
}

.sectionHeader{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--primaryColor);
    margin-bottom: .5em; 
}

.heading,.sub-heading{
    margin-bottom: .5em;
    font-weight: bold;
}

.heading{
    font-size: 2.5em;
}

.sub-heading{
    text-align: left;
}

.contactForm{
    display: grid;
    gap: 3em;
}

form{
    width: 100%;
    margin-top: 3em;
}

.para{
    color: var(--paraColor);
    font-size: 1.1rem;
    line-height: 1.5em;
    margin-bottom: 1em;
}

.para2{
    text-align: left;
}

.input{
    width: 95%;
    max-width: 700px;
    border: none;
    font-size: .9rem;
    padding: 1em;
    outline: none;
    background-color: #F1F1F1;
    color: #000;
    border-radius: 10px;
    margin-bottom: 1em;

}

.input:focus{
    border: 1px solid var(--primaryColor);
}

.input::placeholder{
    text-transform: capitalize;
}

.submit{
    border-radius: 100px;
    background: #00AA13;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 218px;
    height: 44px;
}
.items img{
    width: 50px;
    padding: 10px;
}
body{
    background-color: #f3f3f3;
}
.container-favorite{
    width: 1314px;
    margin: 0 auto;
    margin-left: 50px;
    margin-right: 50px;
}
.container-favorite .nan1{
    padding: 15px 0;
    font-weight: 600;
}
.container-favorite > h1{
    padding: 20px 0;
    font-size: 20px;
}
.cart{
    display: flex;
}
.products2{
    flex: 0.75;
}
.product3{
    display: flex;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border: 1px solid silver;
    margin-bottom: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.menu-favorite{
    margin-top: -10px;
    width: 119%;
    padding: 5px;
    border-bottom: 1px solid silver;
}
.resto{
    padding-left: 50px;
}
.favorite-gambar img{
    width: 120px;
    margin-top: 60px;
    margin-right: 30px;
    border-radius: 5px;
    /* height: 200px; */
    object-fit: cover;
}
.favorite-gambar-tambah button{
    display: flex;
    margin-top: 10px; 
    cursor: pointer;
    width: 120px;
    height: 25px;
    padding: 5px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #00AA13;
    border: none;
    color: white;
    border-radius: 3px;
}
.total-pesanan{
    border: 1px solid silver;
    height: 80px;
    line-height: 80px;
    font-weight: 600;
    font-size: 14px;
    padding-left: 25px;
}
.total-pesanan .tambah-pesan{
    margin-left: 705px;
    border-radius: 3px;
    padding: 8px;
    background: #FF5600; 
    color: white;
}
.product3 > img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-bottom-right-radius: 10px;
}
.product-info4{
    padding: 20px;
    width: 100%;
    position: relative;
}
.product-name{
    margin-top: 10px;
}
.product-name, .product-price, .product-offer{
    margin-bottom: 20px;
    right: 20px;
    padding: 1px 1px;

}
.product-info4 .khas{
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 15px;
}
.product-remove:hover{
    background-color: white;
    color: green;
    font-weight: 600;
    border: 1px solid green;
}

@media screen and (max-width: 700px){
    .remove{
         display: none;
    }
    .product{
         height: 150px;
    }
    .product > img{
         height: 150px;
         width: 200px;
    }
    .product-name, .product-price, .product-offer{
         margin-bottom: 10px;
    }
}
@media screen and (max-width: 900px){
    .cart{
         flex-direction: column;
    }
    .cart-total{
         margin-left: 0;
         margin-bottom: 20px;
    }
}
@media screen and (max-width: 1220px){
    .container{
         max-width: 95%;
    }
}