/* -----------Header----------*/
header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  margin-left: 50px;
  margin-right: 50px;
  z-index: 9999;
}
.container-barnav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}
.logo a {
  color: #00aa13;
  font-size: 30px;
  font-weight: 600;
}

.navbar-header {
  font-size: 20px;
}
.navbar-header a {
  color: black;
  padding: 20px;
}
.navbar-header a:hover {
  color: #00aa13;
}
.search-header input {
  width: 300px;
  height: 35px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  margin-bottom: 30px;
}
.kita {
  text-align: center;
}
.jelajah {
  width: 218px;
  height: 44px;
  border-radius: 100px;
  background: #00aa13;
  border: none;
  color: white;
}

.search-header button {
  height: 35px;
  width: 50px;
  border-radius: 2px;
  border: none;
  background-color: var(--main-color);
  color: #fff;
}
.items img {
  width: 30px;
  padding: 10px;
}

.items .use {
  line-height: 100px;
  font-weight: 600;
  color: black;
}
.items .uses {
  line-height: 100px;
  font-weight: 600;
  color: white;
}
.use {
  margin-right: 10px;
  background-color: white;
  padding: 5px 10px;
  border: 1px solid #919aa3;
  border-radius: 5px;
}
.use:hover {
  background-color: #00aa13;
  color: white;
  transition: 0.3s all ease-in-out;
}
.uses {
  background-color: #ff5600;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}
.tradisi {
  color: white;
  text-align: center;
  font-weight: 600;
  margin-top: -210px;
  font-size: 30px;
  font-family: cursive;
}
/* ----------userprofile---------- */
.wrapper {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 990px;
  height: 420px;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
}

.wrapper .left {
  width: 35%;
  background: white;
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
}

.wrapper .left img {
  border-radius: 5px;
  width: 200px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #d9d9d9;
}

.wrapper .left h4 {
  margin-bottom: 10px;
}

.wrapper .left p {
  font-size: 12px;
}

.wrapper .right {
  width: 65%;
  background: #fff;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrapper .right .info,
.wrapper .right .projects {
  margin-bottom: 25px;
}

.wrapper .right .info h3,
.wrapper .right .projects h3 {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e0e0e0;
  color: #353c4e;
  font-weight: 600;
  text-transform: uppercase;
}

.wrapper .right .info_data,
.wrapper .right .projects_data {
  display: flex;
  justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .projects_data .data {
  width: 55%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .projects_data .data h4 {
  color: #919aa8;
  margin-bottom: 5px;
}

.wrapper .right .info_data .data h5,
.wrapper .right .projects_data .data h5 {
  color: #919aa3;
  margin-bottom: 5px;
}

.wrapper .social_media ul {
  display: flex;
}

.wrapper .social_media ul li {
  width: 45px;
  height: 45px;
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  line-height: 45px;
}

.wrapper .social_media ul li a {
  color: #fff;
  display: block;
  font-size: 18px;
}

.span {
  padding-left: 10px;
  color: #00aa13;
  cursor: pointer;
}

.col .silang-bayar {
  font-weight: 600;
  margin-left: 30px;
  margin-top: -22px;
}

.inputBox .metode {
  font-weight: 600;
}

.bca {
  width: 65px;
  height: 15px;
}

.bcaa {
  margin-left: 85px;
  margin-top: -25px;
}

.inputBox1 {
  border-top: 1px solid rgba(17, 24, 39, 0.2);
  border-bottom: 1px solid rgba(17, 24, 39, 0.2);
  padding: 20px;
}

.pem {
  border-bottom: 1px solid rgba(17, 24, 39, 0.2);
}

.pem h4,
p {
  padding-top: 15px;
  padding-bottom: 10px;
}

/* ----------Cart---------- */

.cart {
  display: flex;
}

.products {
  flex: 0.75;
}

.product {
  display: flex;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border: 1px solid silver;
  margin-bottom: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.product:hover {
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

.product > img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-bottom-right-radius: 10px;
}

.product > img:hover {
  transform: scale(1.04);
}

.product-info {
  padding: 20px;
  width: 100%;
  position: relative;
}

.product-name,
.product-price,
.product-offer {
  margin-bottom: 10px;
  right: 20px;
  padding: 1px 1px;
}

.product-info .khas {
  margin-top: -20px;
  margin-bottom: 10px;
}
.product-info .product-offer {
  margin-top: -10px;
}

.product-remove:hover {
  background-color: white;
  color: green;
  font-weight: 600;
  border: 1px solid green;
}

.product-quantity > input {
  width: 40px;
  padding: -5px;
  text-align: center;
}

.cart-total {
  flex: 0.25;
  margin-left: 20px;
  padding: 20px;
  height: 290px;
  border-radius: 5px;
}

.cart-total p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 15px;
}

.cart-total a {
  display: block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  background-color: #00aa13;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.cart-total a:hover {
  background-color: green;
}

.cart-total .bayar {
  font-weight: 600;
  padding-bottom: 10px;
}
.lanja1 {
  margin-top: 50px;
  font-size: 20px;
  text-align: center;
}
.lanja2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.lanja3 {
  margin-top: 50px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 120px;
}

/* ----------Contact---------- */

.kita {
  text-align: center;
}

.jelajah {
  width: 218px;
  height: 44px;
  border-radius: 100px;
  background: #00aa13;
  border: none;
  color: white;
}

.search-header button {
  height: 35px;
  width: 50px;
  border-radius: 2px;
  border: none;
  background-color: var(--main-color);
  color: #fff;
}

.section {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 70%;
  max-width: 550px;
  margin: auto;
  margin-top: 2em;
}

.sectionHeader {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--primaryColor);
  margin-bottom: 0.5em;
}

.heading,
.sub-heading {
  margin-bottom: 0.5em;
  font-weight: bold;
}

.heading {
  font-size: 2.5em;
}

.sub-heading {
  text-align: left;
}

.contactForm {
  display: grid;
  gap: 3em;
}

.form-masAgung {
  width: 100%;
  margin-top: 3em;
}

.para {
  color: var(--paraColor);
  font-size: 1.1rem;
  line-height: 1.5em;
  margin-bottom: 1em;
}

.para2 {
  text-align: left;
}

.input {
  width: 95%;
  max-width: 700px;
  border: none;
  font-size: 0.9rem;
  padding: 1em;
  outline: none;
  background-color: #f1f1f1;
  color: #000;
  border-radius: 10px;
  margin-bottom: 1em;
}

.input:focus {
  border: 1px solid var(--primaryColor);
}

.input::placeholder {
  text-transform: capitalize;
}

.submit {
  border-radius: 100px;
  background: #00aa13;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 20px;
}
/* ----------Submit contact.jsx---------- */
.submit1 {
  border-radius: 50px;
  background: #00aa13;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.metode3 {
  margin-left: 65%;
  font-weight: 600;
}

.metode4 {
  margin-left: 70%;
  font-weight: 600;
}

.metode5 {
  margin-left: 79%;
  font-weight: 600;
}

.container-pembayaran {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  min-height: 100vh;
}

.contactIcon {
  font-size: 2rem;
  color: var(--primaryColor);
  width: 70px;
}

/* ----------Edit user by Ezer---------- */

.head-1 {
  padding: 8px 0px 8px 48px;
  border-bottom: 1px solid #d9d9d9;
}

.edit-foto {
  margin-right: 35px;
  display: flex;
  flex-direction: column;
}

.image-user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 385px;
  box-shadow: 1px 1px 10px #d9d9d9;
  padding: 20px;
  margin-bottom: 2rem;
  border-radius: 10px;
}

.img-ezer {
  margin: 1rem;
  border-radius: 10px;
}

.biodata {
  display: flex;
  padding: 48px;
  flex: 1;
}

.btn-useredit {
  background-color: #4caf50;
  color: white;
  padding: 0.5rem;
  border-radius: 3px;
  border: 0px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  margin-top: 2rem;
}

.edit-biodata {
  flex: auto;
}

#main {
  box-shadow: 1px 1px 10px #d9d9d9;
  border-radius: 10px;
}

#form-useredit {
  display: flex;
  flex-direction: column;
}

.input-useredit {
  width: 100%;
  padding: 8px 12px;
  margin: 8px 0;
  border: 1px solid #00aa13;
  border-radius: 4px;
  box-sizing: border-box;
}
/* ----------User profile---------- */
.wrapper {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  width: 980px;
  height: 420px;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
}

.wrapper .left {
  width: 35%;
  background: linear-gradient(to right, #01a9ac, #01dbdf);
  background: white;
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
}

.wrapper .left img {
  border-radius: 5px;
  width: 200px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #d9d9d9;
}
.wrapper .left h4 {
  margin-bottom: 10px;
}

.wrapper .left p {
  font-size: 12px;
}

.wrapper .right {
  width: 65%;
  background: #fff;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrapper .right .info,
.wrapper .right .projects {
  margin-bottom: 25px;
}

.wrapper .right .info h3,
.wrapper .right .projects h3 {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e0e0e0;
  color: #353c4e;
  font-weight: 600;
  text-transform: uppercase;
}

.wrapper .right .info_data,
.wrapper .right .projects_data {
  display: flex;
  justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .projects_data .data {
  width: 55%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .projects_data .data h4 {
  color: #919aa8;
  margin-bottom: 5px;
}
.wrapper .right .info_data .data h5,
.wrapper .right .projects_data .data h5 {
  color: #919aa3;
  margin-bottom: 5px;
}

.wrapper .social_media ul {
  display: flex;
}

.wrapper .social_media ul li {
  width: 45px;
  height: 45px;
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  line-height: 45px;
}

.wrapper .social_media ul li a {
  color: #fff;
  display: block;
  font-size: 18px;
}
span {
  padding-left: 10px;
  color: #00aa13;
  cursor: pointer;
}
.ubah {
  cursor: pointer;
  padding: 8px;
  width: 180px;
  border: 1px solid #d9d9d9;
  background-color: white;
  border-radius: 3px;
}
.file {
  color: black;
  padding: 5px;
}
.ubah2 {
  cursor: pointer;
  padding: 8px;
  width: 180px;
  border: 1px solid #d9d9d9;
  background-color: white;
  border-radius: 3px;
  margin-top: 10px;
  color: white;
  background-color: #00aa13;
}

/* ----------Favorite.jsx---------- */
.container-favorite {
  width: 1314px;
  margin: 0 auto;
  margin-left: 90px;
}
.container-favorite .nan1 {
  padding: 15px 0;
  font-weight: 600;
}
.container-favorite > h1 {
  padding: 20px 0;
  font-size: 20px;
}
.cart {
  display: flex;
}
.products2 {
  flex: 0.75;
}
.product3 {
  display: flex;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border: 1px solid silver;
  margin-bottom: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.menu-favorite {
  margin-top: -10px;
  width: 115%;
  padding: 5px;
  border-bottom: 1px solid silver;
}
.resto {
  padding-left: 50px;
}
.favorite-gambar img {
  width: 120px;
  margin-top: 60px;
  margin-right: 30px;
  border-radius: 5px;
  object-fit: cover;
}
.favorite-gambar-tambah button {
  display: flex;
  margin-top: 10px;
  margin-right: 12px;
  cursor: pointer;
  width: 120px;
  height: 25px;
  padding: 5px 25px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #00aa13;
  border: none;
  color: white;
  border-radius: 3px;
}
.total-pesanan {
  border: 1px solid silver;
  height: 80px;
  line-height: 80px;
  font-weight: 600;
  font-size: 13px;
  padding-left: 25px;
}
.total-pesanan .tambah-pesan {
  margin-left: 705px;
  border-radius: 3px;
  padding: 8px;
  background: #ff5600;
  color: white;
}
.product3 > img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-bottom-right-radius: 10px;
}
.product-info4 {
  padding: 20px;
  width: 100%;
  position: relative;
}
.product-name {
  margin-top: 15px;
}
.product-name,
.product-price,
.product-offer {
  margin-bottom: 15px;
  right: 20px;
  padding: 1px 1px;
}
.product-info4 .khas {
  margin-top: -20px;
  font-size: 15px;
}
.product-remove:hover {
  background-color: white;
  color: green;
  font-weight: 600;
  border: 1px solid green;
}
.product-info4 .love {
  margin-top: -10px;
}
/* ----------Footer---------- */
.bac {
  background: white;
  width: 100%;
  height: 100%;
  margin-top: 600px;
}
.feb {
  background-color: white;
}
.fab-icon img {
  padding: 3px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 3px;
}
/* ----------List profuck---------- */
.jaj {
  margin-top: 70px;
  font-size: 14px;
}
/* ----------pembayaran.jsx---------- */
.col .silang1 {
  width: 20px;
  cursor: pointer;
  background-color: #00aa13;
  padding: 3px;
  border-radius: 100%;
}
.col .silang-bayar {
  font-weight: 600;
  margin-left: 30px;
  margin-top: -22px;
}
.inputBox .metode {
  font-weight: 600;
}
.bca {
  width: 65px;
  height: 15px;
}
.bcaa {
  margin-left: 85px;
  margin-top: -25px;
}
.inputBox1 {
  border-top: 1px solid rgba(17, 24, 39, 0.2);
  border-bottom: 1px solid rgba(17, 24, 39, 0.2);
  padding: 20px;
}
.pem {
  border-bottom: 1px solid rgba(17, 24, 39, 0.2);
}
.pem h4,
p {
  padding-top: 15px;
  padding-bottom: 10px;
}
.metode1 {
  margin-left: 80%;
  margin-top: -18px;
  color: #00aa13;
  font-weight: 600;
}
.metode2 {
  margin-left: 90%;
  margin-top: -18px;
  cursor: pointer;
  width: 20px;
}
.metode3 {
  margin-left: 65%;
  font-weight: 600;
}
.metode4 {
  margin-left: 70%;
  font-weight: 600;
}
.metode5 {
  margin-left: 79%;
  font-weight: 600;
}
.container-pembayaran {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  min-height: 100vh;
}

.container-pembayaran form {
  padding: 20px;
  width: 600px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.container-pembayaran form .row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.container-pembayaran form .row .col {
  flex: 1 1 250px;
}

.container-pembayaran form .row .col .title {
  font-size: 20px;
  color: #333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.container-pembayaran form .row .col .inputBox {
  margin: 15px 0;
}

.container-pembayaran form .row .col .inputBox span {
  margin-bottom: 10px;
  display: block;
}

.container-pembayaran form .row .col .inputBox input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px 15px;
  font-size: 15px;
  text-transform: none;
}

.container-pembayaran form .row .col .inputBox input:focus {
  border: 1px solid #000;
}

.container-pembayaran form .row .col .flex {
  display: flex;
  gap: 15px;
}

.container-pembayaran form .row .col .flex .inputBox {
  margin-top: 5px;
}

.container-pembayaran form .row .col .inputBox img {
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.container-pembayaran form .submit-btn {
  display: inline-block;
  text-align: center;
  width: 96%;
  padding: 12px;
  font-size: 17px;
  background: #27ae60;
  border: none;
  color: #fff;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.container-pembayaran form .submit-btn:hover {
  background: #2ecc71;
}
/* ---------- post menu----------- */
.button .upload-produk-btnsubmit {
  background-color: tomato;
}
/* ----------Pesanan.jsx---------- */
.col .silang {
  width: 20px;
  cursor: pointer;
  background-color: white;
  padding: 3px;
  border-radius: 100%;
}
.col .silang-bayar {
  font-weight: 600;
  margin-top: -20px;
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.col .silang-bayar2 {
  color: white;
  display: flex;
  font-size: 13px;
  padding-top: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.transaksi {
  background-color: white;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  border-radius: 5px;
}
.transaksi h3 {
  text-align: center;
  padding-top: 20px;
}
.transaksi p {
  text-align: center;
  padding-top: 10px;
}
.pem h4,
p {
  padding-top: 15px;
  padding-bottom: 10px;
}
.pem h4 {
  padding-left: 14px;
}
.pem h5 {
  padding-left: 14px;
  font-weight: normal;
  font-size: 15px;
}
.unduh button {
  width: 120px;
  background-color: #00aa13;
  margin-bottom: 30px;
  border-radius: 5px;
  color: white;
  border: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 15px;
  cursor: pointer;
}
.unduh img {
  padding: 10px;
}
.unduh {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  gap: 20px;
}
.tran {
  font-weight: 600;
  font-size: 18px;
}
.metode1 {
  margin-left: 80%;
  margin-top: -18px;
  color: #00aa13;
  font-weight: 600;
}
.metode2 {
  margin-left: 90%;
  margin-top: -18px;
  cursor: pointer;
  width: 20px;
}
.metode3 {
  margin-left: 65%;
  font-weight: 600;
}
.metode4 {
  margin-left: 70%;
  font-weight: 600;
}
.metode5 {
  margin-left: 79%;
  font-weight: 600;
}
.inputBox .metode {
  font-weight: 600;
}
.bca {
  width: 65px;
  height: 15px;
}
.bcaa {
  margin-left: 85px;
  margin-top: -25px;
}
.inputBox1 {
  border-top: 1px solid rgba(17, 24, 39, 0.2);
  border-bottom: 1px solid rgba(17, 24, 39, 0.2);
  padding: 20px;
}
.container-pesanan {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  min-height: 100vh;
}

.container-pesanan form {
  padding: 20px;
  width: 600px;
  background: #fff;
  border-radius: 5px;
  background: #00aa13;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.container-pesanan form .row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.container-pesanan form .row .col {
  flex: 1 1 250px;
}

.container-pesanan form .row .col .title {
  font-size: 20px;
  color: #333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.container-pesanan form .row .col .inputBox {
  margin: 15px 0;
}

.container-pesanan form .row .col .inputBox span {
  margin-bottom: 10px;
  display: block;
}

.container-pesanan form .row .col .inputBox input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px 15px;
  font-size: 15px;
  text-transform: none;
}

.container-pesanan form .row .col .inputBox input:focus {
  border: 1px solid #000;
}

.container-pesanan form .row .col .flex {
  display: flex;
  gap: 15px;
}

.container-pesanan form .row .col .flex .inputBox {
  margin-top: 5px;
}

.container-pesanan form .row .col .inputBox img {
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.container-pesanan form .submit-btn {
  width: 100%;
  padding: 12px;
  font-size: 17px;
  background: #27ae60;
  color: #fff;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.container-pesanan form .submit-btn:hover {
  background: #2ecc71;
}
#mobile {
  display: none;
}

/* ----------responsive---------- */
/* tablet */
@media (max-width: 825px) {
  #mobile {
    display: inline-block;
  }
  header .navbar-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    top: 14.8%;
    right: 0px;
    width: 300px;
    height: 430vh;
    background-color: black;
    z-index: 9999;
  }
  header .navbar-header a {
    color: white;
  }
}
